.admin-dashboard {
    padding: 2rem;
    background-color: var(--theme-background-color);
    color: var(--theme-sub-text-color);
  
    &__heading {
      font-size: 3rem;
      color: var(--theme-main-color);
      text-align: center;
      margin-bottom: 2rem;
    }
  
    &__stats {
      display: flex;
      justify-content: space-around;
      margin-bottom: 2rem;
  
      .stat {
        text-align: center;
  
        h2 {
          font-size: 2rem;
          color: var(--theme-main-color);
        }
  
        p {
          font-size: 1.6rem;
        }
      }
    }
  
    &__links {
      display: flex;
      justify-content: center;
      gap: 2rem;
  
      a {
        text-decoration: none;
        color: var(--theme-main-color);
        font-size: 1.6rem;
        padding: 1rem 2rem;
        border: 1px solid var(--theme-border-color);
        border-radius: 0.5rem;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: var(--theme-main-color);
          color: var(--theme-sub-text-color);
        }
      }
    }
  }
  